registry=https://registry.npmmirror.com/
@onein:registry=https://npm.onein.cn/
@oneinui:registry=https://npm.onein.cn/
@qhm-act:registry=http://159.75.125.29:4873/
@onein-func:registry=https://npm.onein.cn/